//====Header=====
.header
    padding-top: 30px
//====navbar=====
.navbar
    margin-bottom: 24px
    display: flex
    justify-content: space-between
    align-items: center
//====logo=====
.logo
//====nav=====
.nav
    margin-right: auto
    &__menu
        margin-left: 21px
        display: flex
    &__item:not(:last-child)
        margin-right: 14px
    &__link
        font-size: 14px
        font-weight: 400
        line-height: 16px
        color: #0A143A

//====button-group=====
.button-group

//====button=====
.button
    display: inline-block
    padding: 10px 15px
    font-size: 14px
    font-weight: 400
    line-height: 16px
    color: #000
    &__link

    &__primary
        background: #256EEB
        border-radius: 5px
        color: #fff

//====search-panel=====
.search-panel
    margin-bottom: 42px
    padding: 3px
    display: flex
    height: 50px
    background: #256EEB
    border-radius: 5px
//====search-input=====
.search-input
    padding: 14px 24px
    flex-grow: 1
    border: none
    border-radius: 5px
    font-size: 14px
    font-weight: 400
    line-height: 16px
    color: rgba(10, 20, 58, .4)
//====search-button=====
.search-button
    padding: 20px 16px
    display: flex
    align-items: center
    background: #256EEB
    border: none
    font-size: 16px
    line-height: 19px
    color: #fff
//====search-icon=====   
.search-icon
    margin-right: 5px

//====page-content=====
.page-content
    display: flex
//====main=====
.main
//====recomended=====
.recomended
//====title=====
.title
    font-weight: 700
    font-size: 24px
    line-height: 28px
    color: #0A143A
//====card-container=====
.card-container
    margin-top: 25px
    max-width: 852px
    display: flex
    flex-wrap: wrap
//====card=====
.card
    &:not(:nth-child(3n))
        margin-right: 30px
    margin-bottom: 39px
    max-width: 264px
    width: 100%
    &__link

    &__img
        border-radius: 10px
    &__descr
        margin-top: 12px
    &__header
        margin-bottom: 5px
        display: flex
        justify-content: space-between
        align-items: center
    &__title
        font-weight: 700
        font-size: 16px
        line-height: 19px
        color: #256EEB
    &__button
        background-color: #fff
        border: none
        cursor: pointer
    &__favourite

    &__price
        margin-bottom: 10px
        font-weight: 700
        font-size: 16px
        line-height: 19px
        color: #0A143A
    &__place
        margin-bottom: 5px
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #C4C4C4
    &__date
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #C4C4C4

//====sidebar=====
.sidebar
    max-width: 261px
    

//====service=====
.service
    padding-left: 30px
    &__title
        margin-bottom: 30px
        font-weight: 700
        font-size: 18px
        line-height: 21px
        color: #0A143A
    &__item
        padding-right: 14px
        margin-bottom: 25px
        &:nth-last-of-type(1)
            margin-bottom: 37px
            
                  
    &__img

    &__item-title
        margin: 7px 0 5px
        font-weight: 700
        font-size: 14px
        line-height: 16px
        color: #0A143A
    &__descr
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #0A143A

//====service-footer=====
.service-footer
    margin-top: 18px
    &__menu
        margin-bottom: 16px
    &__copiryte
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #C4C4C4
    &__item
        margin-bottom: 5px
    &__text
        font-weight: 400
        font-size: 14px
        line-height: 16px
        color: #C4C4C4
    &__link
        font-weight: 400
        font-size: 12px
        line-height: 14px
        color: #000
